* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  background-color: #222;
  user-select: none;
}
.phone {
  border-radius: 50px;
  border: 8px solid black;
  background: white;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  position: relative;
  color: #fff;
  width: 400px;
  height: 750px;
  font-family: "Neue Kabel W01 Bold";
}
.screen {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background 0.3s ease-out;
  background: url("../assets/GenerativeFill2.png") top/cover no-repeat;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
.notch {
  position: absolute;
  top: 10px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  width: 135px;
  height: 30px;
  background: black;
  border-radius: 15px;
}
.swipe {
  width: 120px;
  height: 6px;
  background: #89898981;
  position: absolute;
  bottom: 7px;
  border-radius: 5px;
  right: 50%;
  transform: translateX(50%);
}
.start {
  width: 100%;
  height: 100%;
  background: url("../assets/Generative\ Fill\.png") top/cover no-repeat;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  flex-direction: column;
}
.logos-cont {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
}
.logo {
  width: 35%;
  height: 50%;
}
.btn-cont {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5px;
  gap: 15px;
}
.text {
  text-align: center;
  line-height: 1;
}
.text:nth-child(1) {
  font-size: 40px;
  text-transform: uppercase;
}
.text:nth-child(2) {
  font-size: 13px;
}
.text:nth-child(3) {
  font-size: 8px;
}
.btn {
  border: 2px solid black;
  width: 38%;
  height: 35px;
  font-size: 17px;
  text-transform: uppercase;
  font-family: "Neue Kabel W01 Bold";
  background: rgb(200, 223, 208);
  transition: transform 0.4 ease-in;
  &:focus-visible {
    outline: none;
  }

  &:active {
    transform: translateY(1px);
  }
}
.game {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.container-board {
  width: 100%;
  height: 70%;
  padding-top: 20px;
}
.game-logo {
  width: 100%;
  height: 20%;
  display: flex;
  padding-top: 10px;
  justify-content: center;
  align-items: center;
}
.game-logo > img {
  width: 30%;
  height: 40%;
}
.container-game {
  width: 100%;
  height: 78%;
  display: flex;
  justify-content: end;
  padding: 0 5px;
  position: relative;
  align-items: end;
}
.for-spin {
  width: 35%;
  height: 36%;
  position: absolute;
  top: -1px;
  left: 13px;
  z-index: 1;
}
.expension {
  width: 101%;
  height: 100%;
}
.for-balans {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 20px;
  text-align: end;
  color: #d0ff6e;
  line-height: 0.5;
}
.board {
  width: 80%;
  height: 83%;
  border-radius: 3px;
  position: relative;
  border: 3px solid black;
}
.top {
  width: 100%;
  height: 14.5%;
  z-index: 5;
  position: relative;
  display: flex;
  flex-direction: row;
}
.center {
  width: 100%;
  height: 71.5%;
  display: flex;
  z-index: 5;
  position: relative;
}
.bottom {
  width: 100%;
  height: 14.5%;
  z-index: 5;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
}
.img-board {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  border-radius: 1px;
}
.left {
  width: 14.6%;
  display: flex;
  flex-direction: column;
}
.forvard {
  width: 71.5%;
  position: relative;
  z-index: 5;
}
.rigth {
  width: 14%;
  position: relative;
  z-index: 5;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.money {
  font-size: 30px;
  color: white;
  transition: transform 0.2s ease, color 0.2s ease;
}

.container-rolls {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.first {
  width: 14%;
  height: 100%;
}
.theerd {
  width: 14.8%;
  height: 100%;
}
.meedle {
  width: 8%;
}
.second {
  width: 14.6%;
}
.fourth {
  width: 14.5%;
}
.center-cels {
  width: 100%;
  height: 12%;
}
.car {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 6;
  width: 100%;
  height: 100%;
}
.car-content {
  position: absolute;
  left: 38px;
  bottom: 1%;
  width: 12%;
  height: 8%;
  z-index: 6;
  transition: all 0.1s ease;
}
.spin {
  position: relative;
}
.img-spin {
  margin-right: 1px;
  width: 98%;
  height: 110%;
  position: absolute;
  z-index: 6;
}
.img-spin-left {
  width: 8.5%;
  height: 15.5%;
  transform: rotate(90deg);
  position: absolute;
  top: 26.6%;
  left: 6px;
  z-index: 6;
}

.img-spin-rigth {
  width: 58%;
  height: 200%;
  transform: rotate(-90deg);
  position: absolute;
  top: -13px;
  left: 11px;
  z-index: 6;
}
.img-spin-top {
  width: 98%;
  height: 112%;
  transform: rotate(-180deg);
  position: absolute;
  top: -5.6px;
  left: -0.4px;
  z-index: 6;
}
.pointer {
  width: 15px;
  position: absolute;
  height: 40px;
  left: 24.35%;
  top: 12.5%;
}

.bonus {
  width: 40%;
  height: 23%;
  position: absolute;
  top: 63%;
  left: 10%;
}

.cash {
  position: absolute;
  top: 11%;
  left: 56%;
  width: 56%;
  height: 27%;
}
.cash:nth-last-child(2) {
  transform: rotate(-1deg);
}
.cash:nth-last-child(1) {
  transform: rotate(-2deg);
}

.dice-conteiner {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  padding-top: 3%;
  gap: 2%;
}
.dice1 {
  width: 20%;
  height: 80%;
  transform: rotate(0deg);
}
.dice2 {
  width: 20%;
  height: 80%;
  transform: rotate(0deg);
}
.btn2 {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.role-button {
  border: 2px solid black;
  width: 38%;
  height: 35px;
  font-size: 17px;
  margin: 15px 0;
  text-transform: uppercase;
  font-family: "Neue Kabel W01 Bold";
  background: rgb(200, 223, 208);
  transition: transform 0.4 ease-in;
  &:focus-visible {
    outline: none;
  }
  &:active {
    transform: translateY(1px);
  }
}

.role-animation {
  animation: rols 200ms infinite;
}
@keyframes rols {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spiner {
  position: absolute;
  top: 52%;
  left: 21%;
  width: 62%;
  height: 50%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.spins-content {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.wheel {
  width: 100%;
  height: 100%;
}
.btn-spin {
  border: 2px solid black;
  width: 70%;
  height: 35px;
  font-size: 17px;
  text-transform: uppercase;
  font-family: "Neue Kabel W01 Bold";
  background: rgb(200, 223, 208);
  transition: transform 0.4 ease-in;
  &:focus-visible {
    outline: none;
  }
  &:active {
    transform: translateY(1px);
  }
}

.point-spin {
  width: 25%;
  height: 180px;
  position: absolute;
  top: 15%;
  transition: transform 5s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.text-of-car {
  font-size: 9px;
  padding: 2px;
  line-height: 0.8;
  position: absolute;
  top: -25px;
  border-radius: 3px;
  text-align: center;
  background: red;
  height: 25px;
  animation: filUp 0.9s ease-in-out infinite;
}

@keyframes filUp {
  0% {
    transform: translateY(-1px);
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(3px);
  }
}

.circle {
  width: 30px;
  height: 30px;
  background: rgb(214, 208, 208);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.opacity-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 3.7%;
  top: -3px;
  z-index: 6;
}
.opacity-bg > img {
  width: 96.5%;
  height: 102%;
}

.for-jeckpot {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 7;
}
.zindex {
  z-index: 999999999;
}
.img-money {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 1s ease-in;
}

.animation-up {
  animation: fall 3s linear infinite, fall 5s linear infinite;
}

.money.animate-up {
  transform: scale(1.2);
  color: #4caf50;
}

.money.animate-down {
  transform: scale(1.2);
  color: #f44336;
}

@keyframes fall {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(110vh);
  }
}

.choose-home {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  z-index: 9999;
}
.choose-conte {
  width: 90%;
  height: 30%;
  background: rgba(0, 0, 0, 0.664);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 0 10px;
  border-radius: 5px;
  position: relative;
}

.rent-home {
  width: 100%;
  height: 80%;
}
.elm {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
  text-align: center;
  font-size: 30px;
  position: relative;
  overflow: hidden;
}

.bg-shade {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 79%;
  background: rgba(0, 0, 0, 0.626);
  pointer-events: none;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.end {
  width: 100%;
  height: 100%;
  background: url("../assets/Generative\ Fill\.png") top/cover no-repeat;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  flex-direction: column;
  padding-bottom: 35px;
  font-family: "Neue Kabel W01 Bold";
}

.reset {
  border: 2px solid black;
  width: 38%;
  height: 35px;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-transform: uppercase;
  font-family: "Neue Kabel W01 Bold";
  background: rgb(200, 223, 208);
  transition: transform 0.4 ease-in;
  &:focus-visible {
    outline: none;
  }

  &:active {
    transform: translateY(1px);
  }
}
.reset > img {
  width: 15%;
  height: 55%;
}
.cont {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.hidden {
  display: none;
}
.text-end{
  color: #d0ff6e;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.ind{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: .9;
}
.fith > p{
  width: 100%;
  font-size: 30px;
  text-align: center;
}
.fith{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text:nth-child(2){
  font-family: sans-serif;
  font-weight: 500;
}